#titulo {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.datos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.columna {
    width: 20%;
}

.subtitulo {
    display: flex;
    background-color: rgb(0, 199, 132);
    color: white;
    height: 50px;
    align-items: center;
    padding-left: 30px;
}

.dato {
    display: flex;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.fondoGris {
    background-color: rgb(234, 234, 234);
}

.tituloModal {
    padding: 10px;
}

.imgModal {
    width: 100px;
    height: 100px;
}

.modalEl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 300px;
    margin: 100px auto;
    background-color: #fff;
}

.imageAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.otherData {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}